.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*.table-div {
  background-color: green;
}
.table {
  margin: auto;
}*/
.genres {
  display: inline-block;
  margin: auto;
  background-color: whitesmoke;
  border-radius: 10px;
}
.genres p {
  text-align: left;
  font-size: x-large;
  font-weight: bolder;
  margin: 1rem;
}
.button {
  border: none;
  padding: 0.4rem;
  background-color: lightgrey;
  border-radius: 5px;
  margin: 2px;
}
.table-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  width: 60%;
  border-collapse: collapse;
  margin-top: 2rem;
}

th,
td {
  border: 1px solid #ddd;
  padding: 0.5rem;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}
